name: iOS PR Quality Check

# Configuração do gatilho (Trigger)
on:
  pull_request:
    branches: [ "develop" ] # Altere para 'develop' se for o caso
    types: [opened, synchronize, reopened]
    # opened: Quando cria o PR
    # synchronize: Quando faz um push novo no mesmo PR
    # reopened: Se o PR foi fechado e aberto de novo

jobs:
  test:
    name: Testes Unitários (iOS 17)
    runs-on: macos-14

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Selecionar Xcode 15.4
        run: sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer

      - name: Instalar xcbeautify
        run: brew install xcbeautify

      - name: Rodar Testes
        # Se este passo falhar, o GitHub marcará o PR com um "X" vermelho
        run: |
          set -o pipefail && xcodebuild test \
            -scheme "td-tests" \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.5' \
            -testPlan "td-tests" \
            -resultBundlePath TestResults \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            | xcbeautify
